/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  font-family: var(--mainFont, Inter), arial, sans-serif;
  font-size: 18px;
  font-weight: var(----textWeight, 410);
  background-image: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d300 2px),
                    repeating-linear-gradient(180deg,  #d3d3d3, #d3d3d300 2px),
                    linear-gradient(180deg,#e7e7e7, #1a1a1a);
  background-attachment: fixed;
  background-size: cover;
  margin-block: 100px;
}


.pageTitleContainer {
  font-family: var(--accentFont, 'PressStart2P-Regular'), arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: var(--clampInlineSize, 375px);
  block-size: var(--clampBlockSize, 327px);
  text-transform: uppercase;
  background-color: #fff;
}

.pageTitle {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.pageSubtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: var(--clampInlineSize, 375px);
  grid-column: 2;
  border: 2px solid #000;
  background-color: #fff;
}

.cardTitle {
  font-size: 18px;
  font-weight: 715;
  line-height: 100%;
  padding-inline: 10px;
  padding-block: 6px;
}

.cardImageContainer {
  position: relative;
}

.cardLabel {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accentFont);
  font-size: 14px;
  text-transform: uppercase;
  color: #00000088;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0px #fff,
                0 1px #fff,
                1px 0 #fff,
                0 -1px #fff;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .cardLabel {
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
  }
}

.cardImage {
  inline-size: 100%;
}

/* .cardImage:nth-child(2) {
  filter: brightness(30%);
}

.cardImage:nth-child(3) {
  filter: blur(10px);
}

/* .cardImage:nth-child(4) {
  filter: ;
}

.cardImage:nth-child(5) {
  filter: ;
}

.cardImage:nth-child(6) {
  filter: ;
}

.cardImage:nth-child(7) {
  filter: ;
}

.cardImage:nth-child(8) {
  filter: ;
} */

.cardText {
  padding-inline: 25px;
  padding-block-start: 25px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin-block: 25px;
}

.card__icon-button {
  padding: 6px;
  margin: 0;
  border: none;
  background: inherit;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border:2px solid #000;
  transition: border 0.3s ease;
  
}

.card__like-button {
  padding: 0;
  border: none;
  background-color: inherit;
  margin-inline-end: 25px;
}

.card__like-button:focus {
  outline: none;
}

.button__text {
  position: relative;
  padding-inline: 37px;
  padding-block: 12.5px;
  align-self: center;
  font-family: var(--accentFont);
  font-size: 14px;
  line-height: 90%;
  text-transform: capitalize;
  overflow: hidden;
  border: 2px solid #000;
}



.card__like-button .button__text {
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible .button__text{
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.button__text::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #fff;
  mix-blend-mode: difference;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover .button__text::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.saveButton {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding-inline: 18px;
  padding-block: 17px;
  background-color: #fff;
  inline-size: clamp(19.125rem, 18.4866rem + 2.7238vw, 20.938rem);
  transition: box-shadow 0.3s ease;
}

.saveButton:focus {
  outline: none;
}

.saveButton:focus-visible {
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.saveButton::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #fff;
  mix-blend-mode: difference;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.saveButton:hover.saveButton::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.svgButton {
  display: block;
  inline-size: 28px;
  block-size: 28px;
}

.saveButtonText {
  display: inline-block;
  font-family: var(--accentFont);
  font-size: 14px;
  line-height: 90%;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--accentFont);
  font-size: 14px;
  inline-size: clamp(341px, calc(336.61px + 1.171vw), 353px);;
  padding-block: 30px;
  padding-inline: 0;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: #000000CC;
}

.dialogContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-inline: clamp(30px, calc(43.659px - 0.976vw), 40px);
}

.svgDialog {
  inline-size: 28px;/*Фиксануть дискету!!!!!!*/
  block-size: 28px;
}

.dialogTitle {
  line-height: 150%;
}

.closeDialogButton {
  position: relative;
  padding-inline: 116.5px;
  padding-block: 12.5px;
  margin-inline: clamp(30px, calc(43.659px - 0.976vw), 40px);
  border: 2px solid #000;
  line-height: 90%;
  text-transform: uppercase;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.closeDialogButton:focus {
  outline: none;
}

.closeDialogButton:focus-visible {
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.closeDialogButton::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fff;
  mix-blend-mode: difference;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.closeDialogButton:hover.closeDialogButton::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}