/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --mainFont: 'inter';
    --accentFont: 'PressStart2P-Regular';
    --textWeight: 410;
    --titleWeight: 715;
}